@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-Vindo ao Gerenciador de Tarefas</h1>
    <p class="lead">Gerencie, Agende e Conclua sua Tarefas e Compromissos.</p>
    <p>@Html.ActionLink("Inicie Agora", "Listar", "Tarefas", new object { }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

